/* Estilos para el menú */
.menu a {
    font-weight: 600;
    padding: 10px 20px;
    background-color: #3498db; /* Color de fondo principal */
    border: 2px solid #2980b9;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}

.menu a:hover {
    background-color: #2980b9;
}

/* Estilos para el logo y otros elementos del menú */
.logo {
    font-weight: bold;
    font-size: 7em;
}
